<div class="text-center">
    <h3>Agenda</h3>
    <hr>
</div>
<button class="btn btn-sucess" data-toggle="modal" data-target="#portfolioModal1">lol</button>
<div class="row">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Dia</th>
					<th>Assunto</th>
					<th>1ª chamada</th>
					<th>2ª chamada</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>12/12/2014</td>
					<td>Prestação de contas e assuntos gerais.</td>
					<td>19:00</td>
					<td>19:30</td>
				</tr>
				<tr>
					<td>12/12/2014</td>
					<td>Prestação de contas e assuntos gerais.</td>
					<td>19:00</td>
					<td>19:30</td>
				</tr>
				<tr>
					<td>12/12/2014</td>
					<td>Prestação de contas e assuntos gerais.</td>
					<td>19:00</td>
					<td>19:30</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>