<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="./img/slides/im0.jpg" alt="Área comum do condomínio">
      <div class="carousel-caption">
        <h2>Área comum do condomínio</h2>
      </div>
    </div>
    <div class="item">
      <img src="./img/slides/im1.jpg" alt="Vista externa">
      <div class="carousel-caption">
        <h2>Vista externa</h2>
      </div>
    </div>
    <div class="item">
      <img src="./img/slides/im2.jpg" alt="Frente do condominio">
      <div class="carousel-caption">
        <h2>Frente do condominio</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>